.list{
    background-color: white;
    padding: 5px 20px;
    margin-top: 0px;
    min-height: 100px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.list__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid rgb(241, 241, 241);
    padding: 10px;
}

.list__itemText{
    display: flex;
    align-items: center;
    margin-right: auto;
}

@media (max-width:767px) {
    .list__itemText {
        max-width: 180px;
        margin: auto;
    }
}

.tasks__list--done{
    text-decoration: line-through;
}

.tasks__button{
    background-color: green;
    height: 40px;
    width: 40px;
    border: none;
    margin-right: 15px;
    flex-shrink: 0;
    align-self: center;
    }

.tasks__button--done{
    background-color: green;
    height: 40px;
    width: 40px;
    border: none;
}

.tasks__button--remove{
    background-color: crimson;
    height: 40px;
    width: 40px;
    border: none;
    margin-left: 15px;
    flex-shrink: 0;
    align-self: center;
}