.section__mainHeader{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

.section__header{
    background-color: white;
    margin-top: 15px;
    padding: 20px;
    margin-bottom: 2px;
  }
